html {
    min-height: 100%;
}

body {
    display: flex;
    height: calc(100vh - 181px);
    width: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.my-body {
  margin-bottom: 51px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.profile {
  margin-top: 48px;

}

.my-tab {
    margin-bottom: 24px;
}

.myContracts {
  margin-top: 12px;
}

.auth {
  width: 100%
}

.loader {
  margin: 0 auto;
  margin-top: 48px;
  width: 100px;
}
